.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centering the container */
    flex-direction: row; /* Row-based layout for larger screens */
    max-width: 1200px;
    width: 100%;
}

.info {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.info h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    color: #333;
}

.login-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.login-btn {
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
}

.create-account-btn {
    background-color: #28a745 !important;
    color: white;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: stretch;
    }

    .info {
        padding-right: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .login-form {
        padding-left: 30px;
        margin-top: 20px;
        max-width: 100%;
    }
}
